body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 1em;
  line-height: 1.2em;
}

h1 {
  margin-top: 0px;
  margin-bottom: 30px;
  font-family: Oswald, sans-serif;
  color: #857260;
  font-size: 3em;
  line-height: 44px;
  font-weight: 600;
}

p {
  margin-bottom: 30px;
  color: #000;
  font-size: 0.9em;
  line-height: 1.8em;
}

.hero_section {
  height: 100%;
  background-image: url('public/landing/sports-injury/images/hero-img2.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.test_headline {
  position: relative;
  left: 10%;
  top: 50%;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 73px;
  background-clip: border-box;
}

.main_headline_container {
  position: absolute;
  left: 5%;
  top: 35%;
  right: auto;
  bottom: auto;
  z-index: 100;
  width: 45%;
  padding: 0px;
  border-left: 10px none #dec463;
  background-color: transparent;
  box-shadow: none;
}

.main_headline {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  border-left: 10px none #dec463;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dec463), to(#fff));
  background-image: linear-gradient(180deg, #dec463, #fff);
  font-family: Oswald, sans-serif;
  color: #fff;
  font-size: 4em;
  line-height: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main_headline.big {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dec463));
  background-image: linear-gradient(180deg, #fff, #dec463);
  color: #fff;
  font-size: 5em;
  font-weight: 700;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main_headline2 {
  margin-top: 27px;
  margin-bottom: 0px;
  font-family: Oswald, sans-serif;
  color: hsla(0, 0%, 100%, 0.72);
  font-size: 3ch;
  line-height: 1.6em;
  font-weight: 400;
  text-transform: none;
}

.navbar {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 100;
  display: block;
  padding-top: 22px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.logo {
  width: 200px;
  margin-left: 5%;
}

.logo.footer {
  position: static;
  display: block;
  width: 120px;
}

.logo.scroll {
  width: 120px;
}

.navmenu {
  margin-right: 2%;
}

.navlink {
  font-family: Oswald, sans-serif;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
}

.navlink.scroll {
  font-size: 0.9em;
  font-weight: 400;
}

.main_buttons_section {
  padding: 50px 5% 32px;
}

.main_wrapper_div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 33px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.main_text_div {
  width: 50%;
}

.main_buttons_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 45px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main_button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Oswald, sans-serif;
  color: #dec463;
  font-size: 1.5em;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

.main_button:hover {
  color: #fff;
}

.main_btn_icon {
  width: 60px;
  margin-right: 15px;
}

.main_btn_small_text {
  margin-top: 0px;
  margin-bottom: 2px;
  font-size: 0.6em;
  font-weight: 400;
}

.heading {
  font-family: Oswald, sans-serif;
  color: hsla(0, 0%, 100%, 0.35);
  font-size: 70px;
}

.content_section {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #130901;
  background-image: radial-gradient(circle farthest-corner at 50% 50%, #251e02, #130901);
}

.wrapper_div {
  width: auto;
  margin-right: 10%;
  margin-left: 10%;
}

.wrapper_div.team {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.wrapper_div.contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.wrapper_div.footer {
  margin-top: 39px;
  padding-top: 52px;
  border-top: 1px solid rgba(222, 196, 99, 0.39);
}

.section_headline {
  margin-top: 0px;
  margin-bottom: 94px;
  color: #dec463;
  font-size: 1.1em;
  line-height: 1.2em;
  font-weight: 400;
  text-align: center;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.section_headline.left {
  width: 100%;
  margin-bottom: 42px;
  text-align: left;
}

.callout_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.callout_wrapper.no_margin {
  margin-bottom: 0px;
}

.text_div {
  width: 48%;
}

.callout_text {
  margin-bottom: 0px;
  color: hsla(0, 0%, 100%, 0.64);
  font-size: 1em;
  text-align: left;
}

.callout_text.margin {
  margin-bottom: 29px;
  text-align: left;
}

.callout_headline {
  margin-top: 0px;
  margin-bottom: 30px;
  font-family: Oswald, sans-serif;
  color: #fff;
  font-size: 1.7em;
  font-weight: 400;
}

.callout_headline.black {
  color: #000;
  font-size: 2em;
}

.img_div {
  width: 48%;
}

.square_div {
  width: 20px;
  height: 20px;
  margin-bottom: 19px;
  background-color: #dec463;
}

.team_section {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #dec463;
}

.team_text_div {
  width: 65%;
  margin-bottom: 8%;
}

.paragraph {
  font-size: 1em;
}

.team_photo_div {
  width: 30%;
}

.team_headline {
  color: #000;
}

.testimonials_section {
  padding-top: 114px;
  padding-bottom: 114px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url('public/landing/sports-injury/images/testimonials-bg.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('public/landing/sports-injury/images/testimonials-bg.jpg');
  background-position: 0px 0px, 50% 0%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
}

.testimonials_div {
  width: 45%;
}

.testimonials_text {
  color: #fff;
  font-size: 1em;
}

.testimonials_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.testimonials_name {
  font-family: Oswald, sans-serif;
  color: #fff;
  font-size: 1.2em;
}

.quote_text {
  margin-right: 0px;
  font-family: Oswald, sans-serif;
  color: #dec463;
  font-size: 5em;
  font-weight: 800;
}

.contact_section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #000;
}

.scroll_btn_wrapper {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.scroll_div {
  display: inline-block;
}

.scroll_btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 0.7em;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

.scroll_btn:hover {
  color: hsla(0, 0%, 100%, 0.69);
}

.scroll_arrow {
  margin-bottom: 2px;
  padding: 5px;
  background-color: #000;
}

.locations_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.location_flex_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.location_div {
  width: 45%;
  margin-bottom: 35px;
}

.address_text {
  margin-bottom: 0px;
  color: #fff;
}

.hours-div {
  width: 30%;
  padding-left: 30px;
  border-left: 1px solid rgba(222, 196, 99, 0.4);
}

.hours_text {
  margin-bottom: 0px;
  color: #fff;
}

.contact_wrapper {
  width: 30%;
}

.text_field {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(222, 196, 99, 0.5);
  background-color: #181818;
  color: #fff;
}

.text_field::-webkit-input-placeholder {
  color: rgba(222, 196, 99, 0.65);
}

.text_field:-ms-input-placeholder {
  color: rgba(222, 196, 99, 0.65);
}

.text_field::-ms-input-placeholder {
  color: rgba(222, 196, 99, 0.65);
}

.text_field::placeholder {
  color: rgba(222, 196, 99, 0.65);
}

.text_area {
  min-height: 120px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(222, 196, 99, 0.5);
  background-color: #181818;
  color: #fff;
}

.text_area::-webkit-input-placeholder {
  color: rgba(222, 196, 99, 0.65);
}

.text_area:-ms-input-placeholder {
  color: rgba(222, 196, 99, 0.65);
}

.text_area::-ms-input-placeholder {
  color: rgba(222, 196, 99, 0.65);
}

.text_area::placeholder {
  color: rgba(222, 196, 99, 0.65);
}

.submit_btn {
  padding: 13px 30px;
  background-color: #dec463;
  font-family: Oswald, sans-serif;
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
}

.submit_btn:hover {
  background-color: #fff;
}

.logo-2 {
  width: 200px;
}

.logo-2.footer {
  position: static;
  width: 150px;
  margin-bottom: 16px;
}

.footer_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 44px;
  margin-right: 10%;
  margin-left: 10%;
  padding-top: 42px;
  border-top: 1px solid rgba(222, 196, 99, 0.26);
}

.footer_text {
  margin-bottom: 0px;
  color: hsla(0, 0%, 100%, 0.71);
  font-size: 0.8em;
}

.logo_footer {
  width: 120px;
  margin-right: 32px;
}

.phone_btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Oswald, sans-serif;
  color: #fff;
  font-size: 2.6em;
  line-height: 1.3em;
  cursor: pointer;
}

.phone_btn:hover {
  color: #dec463;
}

.phone_btn.footer {
  margin-bottom: 0px;
  margin-left: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.8em;
  text-decoration: none;
}

.phone_icon {
  margin-right: 11px;
}

.phone_icon.footer {
  width: 20px;
}

.navbar_scroll {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 1000;
  display: block;
  background-color: #000;
}

html.w-mod-js *[data-ix="tagline-move"] {
  opacity: 0;
  -webkit-transform: translate(-70px, 0px);
  -ms-transform: translate(-70px, 0px);
  transform: translate(-70px, 0px);
}

html.w-mod-js *[data-ix="tagline-move-2"] {
  opacity: 0;
  -webkit-transform: translate(-70px, 0px);
  -ms-transform: translate(-70px, 0px);
  transform: translate(-70px, 0px);
}

html.w-mod-js *[data-ix="tagline-move-3"] {
  opacity: 0;
  -webkit-transform: translate(-70px, 0px);
  -ms-transform: translate(-70px, 0px);
  transform: translate(-70px, 0px);
}

html.w-mod-js *[data-ix="tagline-move-4"] {
  opacity: 0;
  -webkit-transform: translate(-70px, 0px);
  -ms-transform: translate(-70px, 0px);
  transform: translate(-70px, 0px);
}

html.w-mod-js *[data-ix="navbar-scroll-sero"] {
  -webkit-transform: translate(0px, -100px);
  -ms-transform: translate(0px, -100px);
  transform: translate(0px, -100px);
}

@media screen and (max-width: 1024px) {
  .main_headline_container {
    top: 41%;
    width: 60%;
  }

  .main_headline {
    font-size: 3em;
  }

  .main_headline.big {
    font-size: 3.6em;
  }

  .main_headline2 {
    font-size: 2ch;
  }

  .navbar {
    z-index: 1000;
  }

  .navmenu {
    margin-right: 0%;
    padding-right: 0px;
    background-color: #000;
  }

  .main_button {
    font-size: 1.3em;
  }

  .wrapper_div {
    margin-right: 5%;
    margin-left: 5%;
  }

  .section_headline {
    margin-bottom: 60px;
  }

  .text_div {
    width: 100%;
    margin-bottom: 40px;
  }

  .text_div.margin {
    margin-top: 49px;
  }

  .img_div {
    width: 100%;
  }

  .team_section {
    padding-top: 53px;
  }

  .team_headline {
    font-size: 2em;
  }

  .scroll_btn_wrapper {
    display: none;
  }

  .footer_wrapper {
    margin-right: 5%;
    margin-left: 5%;
  }

  .phone_btn {
    font-size: 2em;
  }

  .navbar_scroll {
    display: none;
  }

  .nemu_btn {
    margin-right: 5%;
    color: #dec463;
  }

  .nemu_btn:hover {
    background-color: #000;
  }

  .nemu_btn.w--open {
    background-color: #dec463;
    color: #000;
  }
}

@media screen and (max-width: 767px) {
  .main_headline_container {
    top: auto;
    bottom: 20px;
    width: 70%;
  }

  .main_headline {
    font-size: 1.4em;
  }

  .main_headline.big {
    font-size: 2em;
  }

  .main_headline2 {
    margin-top: 8px;
    font-size: 1.6ch;
    line-height: 1.3em;
  }

  .navbar {
    padding-top: 5px;
  }

  .logo {
    width: 150px;
    margin-left: 2%;
    padding-left: 0px;
  }

  .main_buttons_wrapper {
    margin-top: 10px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .main_button {
    margin-right: 23px;
    font-size: 1.2em;
  }

  .main_btn_icon {
    width: 30px;
    margin-right: 5px;
  }

  .main_btn_small_text {
    line-height: 1em;
  }

  .content_section {
    padding-top: 54px;
    padding-bottom: 47px;
  }

  .wrapper_div.team {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .wrapper_div.contact {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .section_headline {
    margin-bottom: 37px;
  }

  .team_text_div {
    width: 100%;
    margin-bottom: 20px;
  }

  .team_photo_div {
    width: 70%;
  }

  .testimonials_section {
    padding-top: 79px;
    padding-bottom: 40px;
  }

  .testimonials_div {
    width: 100%;
    margin-bottom: 66px;
  }

  .contact_section {
    padding-top: 55px;
    padding-bottom: 51px;
  }

  .scroll_div {
    display: none;
  }

  .locations_wrapper {
    width: 100%;
  }

  .location_flex_wrapper {
    width: 100%;
    margin-bottom: 32px;
  }

  .hours-div {
    width: 100%;
    padding-left: 0px;
    border-left-style: none;
  }

  .contact_wrapper {
    width: 100%;
    margin-top: 48px;
  }

  .logo-2 {
    width: 120px;
    padding-left: 0px;
  }

  .logo-2.footer {
    width: 150px;
  }

  .phone_btn.footer {
    font-size: 1.4em;
  }

  .nemu_btn {
    margin-right: 2%;
  }
}

@media screen and (max-width: 479px) {
  .main_headline_container {
    width: 95%;
  }

  .main_button {
    margin-right: 10px;
    margin-bottom: 12px;
  }

  .section_headline {
    margin-bottom: 52px;
  }

  .callout_wrapper {
    margin-bottom: 38px;
  }

  .callout_headline {
    font-size: 1.5em;
  }

  .team_text_div {
    margin-bottom: 0px;
  }

  .team_photo_div {
    width: 100%;
  }

  .location_div {
    width: 100%;
  }

  .footer_wrapper {
    padding-top: 26px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .logo_footer {
    margin-right: 1px;
    margin-bottom: 25px;
  }

  .phone_btn {
    font-size: 1.4em;
  }

  .phone_icon {
    width: 20px;
  }
}

